<!DOCTYPE html>
<html>
<head>
	<title>{{ instance.title }}</title>
</head>
<body>
<h1>Promoção {{ item.título }}</h1>
<h5>{{ item.status }}</h5>
<br>
<ul>
  <li>Quantidade: {{ item.quantidade }}</li>
  <li>Preço Normal: {{ item.preço_normal }}</li>
  <li>Na promoção: {{ item.preço_promocional }}</li>
  <li>Horário de Consumo: {{ item.horário_de_consumo }}</li>
  <li>Status: {{ item.status }}</li>
  <li>Regras Gerais: {{ item.regras_gerais }}</li>
  <li>Descrição: {{ item.descrição }}</li>
</ul>
<br>
</body>
</html>